/* === COLOUR === */
$primary: #fc8c94;
$primary-light: #f6eaea;
$primary-dark: #fc7474;
$warning: #fcab74;
$bg: #fafafa;
$bg2: #fbfaf7;
$dark: #3e466a;
$grey: #9ba0ae;
$light-grey: #e7e8eb;

/* === BREAKPOINT === */
$xl: 1600px;
$lg: 1200px;
$md: 768px;
$sm: 576px;
