@import '../../styles/variables_module.scss';
.rating {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .stars {
    color: $warning;

    & > * {
      margin-right: 4px;
    }
  }
}
