@import '../../styles/variables_module.scss';

header {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: white;
  box-shadow: 0px 6px 8px rgba($primary, 0.2);
  padding: 0 64px;
  z-index: 3;

  @media (max-width: $sm) {
    padding: 0 24px;
  }

  .brand {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: $dark;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    .logo_icon {
      height: 36px;
      margin-right: 10px;
    }
  }
  .navbar {
    .nav_links {
      display: flex;
      .links_item {
        list-style: none;
        padding: 0 30px;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $dark;
          position: relative;
          .cart_count {
            content: attr(count-in-cart);
            position: absolute;
            top: -12px;
            left: -10px;
            background-color: $primary;
            border-radius: 50%;
            color: $bg;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;
          }
          .fas {
            margin-right: 8px;
          }

          &:hover {
            transition: all 0.1s ease-out;
            color: $primary;
          }
        }
      }
      .footer_links {
        display: none;
      }
    }
  }

  .hamburger {
    display: none;
    border: none;
    outline: none;
    background: none;
    color: $dark;
    cursor: pointer;
    .fas {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 860px) {
  header {
    .navbar {
      position: absolute;
      top: 100%;
      opacity: 0%;
    }

    .navbar_mobile {
      transition: all 0.2s ease-in-out;
      opacity: 100%;
      left: 0%;
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 70px;
      border-top: 1px solid $light-grey;
      background-color: $bg;
      box-shadow: 0px 6px 8px rgba($primary, 0.2);

      z-index: 1;

      .nav_links {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .links_item {
          list-style: none;
          padding: 30px;
          text-align: center;
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: $dark;
            .fas {
              margin-right: 8px;
            }
            &:hover {
              transition: all 0.15s ease-out;
              color: $primary;
            }
          }
        }
      }
      .footer_links_mobile {
        display: inherit;
        .copyright {
          margin-top: 40px;
          border-top: 1px solid $light-grey;
          width: 70%;
        }
      }
    }

    .hamburger {
      display: block;
    }
  }
}
